.foot{
    margin-top: 8em;
    border-radius: 50% 50% 0 0;
    display: flex;
    justify-content: center;
    color:white;
    background-color: #2B2B2B;
    padding:2em;
}
.name{
    font-size: 1.2em;
}
.bb{
    background-color:#2B2B2B;
    border:none;
    color:white;
}