.foot{
    margin-top: 2em;
    border-radius: 10% 10% 0 0;
    display: flex;
    justify-content: center;
    color:white;
    background-color: #2B2B2B;
    padding:2em;
}
.name{
    font-size: 1.2em;
}
.bb{
    background-color:#2B2B2B;
    border:none;
    color:white;
}
.top{
    display: flex;
    justify-content: end;
    margin-right:3em;
    position: sticky;
    margin-top: 1em;
    margin-bottom: 1em;
}
    

.ictop:hover{
    animation-play-state: paused;
}
.ictop{
    background-color:black;
    padding: 0.5em;
    border:none;
    border-radius: 2em;
    position: relative;
    animation-name: move;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes move {
    from {
      top: 0px;
    }
    to {
      top: 15px;
    }
  }