.hero{
    display: flex;
    flex-direction: row;
    margin-left:5em;
    margin-bottom:10em;
}

.title{
    font-weight: 1rem;
    font-size: 2rem;


    color: #000000;
}
.logo{
    margin-top: 3em;
    margin-bottom: 1em;
}
.discp{
    padding-top:1em;
    padding-bottom:1em;
    width: 70%;
    color: grey;
}
.btn1{
    color: white;
    padding: 1em 40px;
    gap: 10px;
    background: #1F2026;
    border: none;
    border-radius: 60px;
}
button:hover{
    font-size: 1.02em;
    transition: font-size 0.3s ease-in-out;
}
.car{
    width:50em;
    height:35em;
    margin-right: 6em;
    margin-top: 2em;
}
.carousel-control-prev{
    height:100%;
}
.carousel-control-next{
    height:100%;
}


@media(max-width: 700px){
.hero{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
   margin: 0 2em 0 2em;
    
}
.car{
    width: 100%;
    height: 100%;
}
.logo{
    width: 20%;
    margin-top: 1em;
}
.title{
    font-weight: 1rem;
    font-size: 1.2em;


    color: #000000;
}
.discp{
    padding-top:0.5em;
    padding-bottom:0.2em;
    width: 100%;
    color: grey;
}
.btn1{
    padding-top: 0em;
    color: white;
    padding: 1em 40px;
    margin-top: 1em;
    margin-bottom: 3em;
    background: #1F2026;
    border: none;
    border-radius: 60px;
}
.carousel-control-prev{
    height:100%;
}
.carousel-control-next{
    height:100%;
}
}
@media (max-width: 1080px) and (min-width: 700px){
    .title{
        font-weight: 1rem;
        font-size: 1.5rem;
    
    
        color: #000000;
    }
    .car{
        width:40em;
        height:40em;
    }
    .discp{
        width: 90%;
    }
}